<div ng-include="'partials/navbar'"></div>

<div ng-include="'partials/toolbox'"></div>

<div class="jumbotron">
    <!--
    <div ng-repeat="group in query">
        <ul>
            <li ng-repeat="(key, value) in group.data">
                {{key}}: {{value.join(', ')}}
                <a class="btn" ng-click="select(key, value)">Modify</a>
            </li>
        </ul>
    </div>
    -->
</div>

<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>
-->

<a class="btn btn-lg btn-primary" ng-href="#" ng-click="process()">Generate report...</a>

<!--
<div class="footer">
  <p>This is website footer</p>
</div>
-->

<div ng-include="'partials/bokeh'"></div>