<div ng-include="'partials/navbar'"></div>

<!-- Nested list template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle tooltip-html-unsafe="{{hint(node.type)}}" tooltip-popup-delay="{{tooltip.delay}}">
        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{node.title}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="insertAfter(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="modify(node)"><span class="glyphicon glyphicon-edit"></span></a>
    </div>
    <ol ui-tree-nodes="options" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<div>
    <ul class="nav nav-pills pull-left">
        <li ng-repeat="item in toolboxMenu">
            <a ng-href="#" ng-click="item.action()">{{item.title}}</a>
        </li>
    </ul>
</div>

<div class="toybox">
    <h3>Query:</h3>
    <div ui-tree="options">
        <ol ui-tree-nodes="" ng-model="data" id="tree-root">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>

    <hr />

    <h3>Formatting:</h3>
    <div ui-tree="options">
        <ol ui-tree-nodes ng-model="formatting" >
            <li ng-repeat="node in formatting" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>

<div class="jumbotron">
    <h3>JSON representation of the tree:</h3>
    <div>{{data || json}}</div>
    <hr />
    <h3>MongoDB query based on the tree:</h3>
    <div>{{data | queryLens}}</div>
    <!--
    <div ng-repeat="group in query">
        <ul>
            <li ng-repeat="(key, value) in group.data">
                {{key}}: {{value.join(', ')}}
                <a class="btn" ng-click="select(key, value)">Modify</a>
            </li>
        </ul>
    </div>
    -->
</div>

<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>
-->

<a class="btn btn-lg btn-primary btn-long" ng-href="#" ng-click="process()">Generate report...</a>

<!--
<div class="footer">
  <p>This is website footer</p>
</div>
-->

<div ng-include="'partials/bokeh'"></div>