<div>
    <div class="modal-header">
        <h3>{{header}}</h3>
    </div>

    <div class="modal-body">
        Hello, and, yes it works :-)! And {{modal.text}}!
        <form>
            <input type="text" ng-repeat="item in node.value" ng-model="item.value" typeahead="hint for hint in getHints() | filter:$viewValue | limitTo:8" typeahead-min-length="0" placeholder="Enter source" />
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>