<div>
    <div class="modal-header">
        <h3>{{header}}</h3>
    </div>

    <div class="modal-body">
        Hello, and, yes it works :-)! And {{modal.text}}!
        <form>
            <input type="text" name="text" ng-model="modal.text" />
            <input type="text" name="text" ng-model="node.value" />
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>